*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    outline: 1px solid red;
}
.sideNote {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin: 5px;
}
